<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleCommon" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger (%F:%L) - %msg%n" charset="UTF-8"/>
        </Console>
        <Console name="ConsolePreview" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n" charset="UTF-8"/>
        </Console>
        <!--        <File name="FileAppender" fileName="logs/${date:yyyy-MM-dd}.log" immediateFlush="false" append="true">-->
        <!--            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger (%F:%L) - %msg%n"/>-->
        <!--        </File>-->
        <!--        <Async name="Async">-->
        <!--            <AppenderRef ref="ConsoleCommon"/>-->
        <!--            <AppenderRef ref="ConsolePreview"/>-->
        <!--        </Async>-->
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ConsoleCommon"/>
        </Root>
        <Logger name="preview" additivity="false" level="ALL">
            <AppenderRef ref="ConsolePreview" level="ALL"/>
        </Logger>
    </Loggers>
</Configuration>